<html xmlns:th="http://www.thymeleaf.org" th:fragment="scripts(script=${script})">

<!-- JavaScript Libraries -->
<script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js}" src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js}" src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
<script th:src="@{/lib/easing/easing.min.js}" src="lib/easing/easing.min.js"></script>
<script th:src="@{/lib/waypoints/waypoints.min.js}" src="lib/waypoints/waypoints.min.js"></script>
<script th:src="@{/lib/lightbox/js/lightbox.min.js}" src="lib/lightbox/js/lightbox.min.js"></script>
<script th:src="@{/lib/owlcarousel/owl.carousel.min.js}" src="lib/owlcarousel/owl.carousel.min.js"></script>

<!-- Template Javascript -->
<script th:src="@{/js/main.js}" src="js/main.js"></script>

<!-- < 추가 > -->
<!-- script 있을 때만 처리 -->
<th:block th:if="${script}">
    <th:block th:replace="${script}"></th:block>
</th:block>

</html>