.center {
    justify-content: center
}

sup {
    color: red
}

.bold {
    font-weight: 700;
    margin-bottom: .5rem;
    font-size: .9rem;
}

.margin-right {
    margin-right: 0.5rem;
}

input::placeholder {
    color: #cccccc;
}

input:read-only {
    background-color: #eeeeee;
}

.page-header {
    position: relative;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../img/sky.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: .5rem;
    color: #fd7e14;
    content: var(--bs-breadcrumb-divider, "/")
        /* rtl: var(--bs-breadcrumb-divider, "/") */
}

.info {
    float: right;
    font-size: .9rem;
}

.small {
    font-size: .9rem;
}

/* 추가 */
.field-error {
    color: #dc3545;
    display: none;
    white-space: pre-line; /* 줄바꿈 인식하도록 설정 */
}
.input-error {
    border-color: #dc3545;
}
.visible {
    display: block; /* 또는 'flex' 등 필요에 따라 */
}